// 该文件是用来动态计算每一台设备中根标签的文字大小


// 1. 定义一个变量用来保存用户自定义的份数
@num: 20;

//2. 计算每台设备中的根标签文字大小

@media only screen and (width: 320px) {
     
     html {
         font-size: 320px / @num;
     }
}


@media only screen and (width: 375px) {

    html {
        font-size: 375px / @num;
    }
}


@media only screen and (width: 414px) {

    html {
        font-size: 414px / @num;
    }
}

@media only screen and (width: 768px) {

    html {
        font-size: 768px / @num;
    }
}